@import url('https://fonts.googleapis.com/css?family=Red+Hat+Display:400,500,600,700,900&display=swap');

body
  font-family 'Red Hat Display', 'sans-serif'

h1, h2, h3, h4, h5, h6, p
  margin-bottom 0
  margin-top 0
  letter-spacing: 0.05em;
  padding-right: 20px;
  padding-left: 20px;

h1,
h2
  font-weight 900

h1
  margin-bottom: 16px
  font-size 28px
  font-weight 900
  line-height: 37px

h1, h2, h3
  line-height 2.5rem

h2
  margin-bottom: 16px
  font-size 24px
  line-height: 32px


h3
  font-size 20px

p
  margin-bottom: 40px
  font-size 16px
  font-weight: 500
  line-height: 21px

img
  max-width 100%

.q-page
  padding: 0
  padding-bottom: 40px;

a
  text-decoration none

.q-field
  &__native
    span
      color $primary
      font-weight 700
      font-size 16px
  &__append
    i
      color $primary
  &__control-container
    input
      color $primary
      font-weight 900
      font-size 16px

.q-px-none
  padding-left 0 !important
  padding-right 0 !important

.q-btn
  font-weight: bold;

.q-pt-xl
  padding-top 40px

.logo
  margin-bottom: 40px;

.text
  &.-bold
    font-size 24px
    font-weight: 700
